<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do app</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css">

</head>
<body>
    <h1>My todo list</h1>
    <div id="todo-table">
        
        <form action="/" method="POST">
            <input type="text" name="item" placeholder="Add new item..." required>
            <button>Add item</button>
        </form>
        <ul>
            <% todoData.forEach(value =>{ %>
                <li><%- value %></li>
            <% }) %>
        </ul>
    </div>
    <script>

        var todoElement = document.querySelectorAll("li");
        todoElement.forEach((item,index) => {
            item.addEventListener('click', () => {
                //item.innerText="-";
                todoElement[index].style.display="none";
                removeElement(item.textContent);
            })        
        })

        function removeElement(item) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(this.response);
                }
            };
            xhttp.open("DELETE", "/assets/todoList.json");
            xhttp.setRequestHeader('Content-Type', "application/json")
            var data = JSON.stringify({"item": item});
            xhttp.send(data)
        }
            
    </script>
</body>
</html>